@model GymClass

    <tr>
        <td>
            @Html.DisplayFor(item => item.Name)
        </td>
        <td>
            @Html.DisplayFor(item => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(item => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(item => item.Description)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            <a asp-action="BookingToggle" asp-route-id="@Model.Id">Book</a>
        </td>
    </tr>

